* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #0B2434;
  padding: 1rem 0.5rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#root {
  height: 100%;
  width: 100%;
  max-width: 600px;
  max-height: 600px;
}

main {
  border-radius: 10px;
  background-color: #F5F5F5;
  height: 100%; 
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.die-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  gap: 10px;
}

.die {
  padding: 1rem;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  background-color: white;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.roll-button {
  margin-top: 40px;
  background-color: #5035FF;
  border: none;
  color: #FFFFFF;
  padding: 16px 40px;
  border-radius: 5px;
}